<ion-view view-title="Information">

    <ion-content class="column">

        <div class="row row-content flex-container-all">
            <div class="content info-content">
                <h3><strong>Game Info</strong></h3>
                <h4>The <em>Magic Square Game</em> is the first iPhone app released by <a href="http://www.factornine.co.uk" target="_blank">Factornine</a>.
                </h4>
                <br>
                <h4>I'll be updating the app so keep posted for new features and improvements!
                </h4>
            </div>
        </div>


    </ion-content>
</ion-view>