<ion-view view-title="Home">

    <ion-content class="column" ng-controller="Home as home">

        <div class="row row-content flex-container-all">
            <div class="content home-content">
                <h3><strong>Magic Square Game</strong></h3>
                <h4>The 'Magic Square Game' is a logic puzzle where the objective is to solve a 3×3 magic square.
                    <br> <br>
                    To solve the puzzle the numbers in each row, and in each column, and the diagonals, all add up to the same number, this number is known as the 'magic number'.</h4>
            </div>

        </div>

    </ion-content>

</ion-view>


