<ion-view view-title="Home">

    <ion-content class="column" ng-controller="Home as home">

        <div class="row instructions-row flex-container">
            <h1>HOME</h1>
        </div>

    </ion-content>
    <!--<ion-footer-bar align-title="right" class="bar-positive">-->
        <!--&lt;!&ndash;<div class="buttons">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button">Left Button</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<h1 class="title">Title!</h1>&ndash;&gt;-->
        <!--<div class="buttons pull-right" ng-click="">-->
            <!--<button class="button">Game</button>-->
        <!--</div>-->
    <!--</ion-footer-bar>-->

</ion-view>


